:root{
    --color: rgb(39, 185, 117);
    --ancho: 250px;
    --ancho2: 80px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#nav-toggle{
    display: none;
}

.sidebar{
    background-color: var(--color);
    width: var(--ancho);
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    
    z-index: 100;
    transition: width 300ms;
}

.sidebar__brand{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;    
}

.sidebar__brand h2 span{
    display: inline-block;
    font-size: 1.9rem;
    padding-left: .2rem;
    justify-content: cen;
    
}


.sidebar__menu{
    margin-top: 2.5rem;
}

.sidebar__menu li{
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 2rem;
}

.sidebar__menu a{
    color: #fff;
    display: block;
    font-size: 1.2rem;
    padding-left: .9rem;
}

.sidebar__menu a:hover{
    color: rgb(159, 11, 179);
}

.sidebar__menu a.active{
    background-color: #fff;
    color: var(--color);
    padding-top: 0.8rem;
    padding-bottom: .8rem;
   
}

.sidebar__menu a i{
    font-size: 1.5rem;
    padding-right: 1rem;
}

#nav-toggle:checked + .sidebar{
    width: var(--ancho2);
}

.main-content{
    margin-left: var(--ancho);
    transition: margin-left 300ms;
}

.main-content__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: var(--ancho);
    top:0;
    z-index: 100;
    background-color: #fff;
    width: calc(100% - var(--ancho));
    transition: left 300ms;
    height: 80px;
}

#btn-menu:hover{
    cursor: pointer;
}

.main-content__header h3{
    display: flex;
    align-items: center;
    color: #333;
}

.main-content__header label i{
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

.search-wrapper i{
    display: inline-block;
    padding: 0 1rem;
    font-size: 1.2rem;
}

.user-wrapper{
    display: flex;
    align-items: center;
}

.user-wrapper i{
    color: var(--color);
    margin-right: 0.5rem;
}

.user-wrapper > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-wrapper h4{
    font-size: .8rem;
    color: var(--color);
}

.user-wrapper small{
    font-size: .7rem;
    color: #ccc;
}

.user-wrapper{
    position: relative;
}

.user-wrapper:hover{
    cursor: pointer;
}
.row{
    position: relative;
}
.row:hover{
    cursor: pointer
}

.submenu{    
    display: none;
    min-height: 250px;
    min-width: 200px;
    position: absolute;
    border: 1px solid black;
    top: 30px;
    right: 10px;
    background-color: #fff;
}

.user-wrapper:hover .submenu{
    display: block;
}

main{
    margin-top: 80px;
    padding: 2rem 1.5rem;
    background-color: rgb(239, 246, 255);
    min-height: calc (100vh - 80px);
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 2rem;    
}

.tarjeta{
    width: 300px;
    height: 300px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
}
.foto--descrip{
    text-align: center;
    
}
.descripcion{
    padding-top: 30px;
    text-align: justify;
}

.descripcion h2{
    text-align: center;
    padding-bottom: 10px;
}
.card__botones{

    justify-content: center;
    display: flex;

}




@media only screen and (max-width: 1200px){
    .sidebar{
        width: var(--ancho2);
    }

    .sidebar .sidebar__brand span, 
    .sidebar li span{
        display: none;
    }

    .sidebar li{
        padding-left: .8rem;
    }

    .main-content{
        margin-left: var(--ancho2);
    }

    .main-content .main-content__header{
        width: calc(100% - var(--ancho2));
        left: var(--ancho2);
    }

}

@media only screen and (max-width: 960px){
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }

}
